<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.notes">
            <th scope="row">{{item._id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
              <img [src]="item.image" style="width: 50px;" />
            </td>
            <td><button class="btn btn-warning" (click)="editNote(item)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteNote(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>